* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Zilla Slab', serif;
}
html {
	overflow-x: hidden!important;
	scroll-behavior: smooth;
}
#contact-map {
	height: 80vh;
}
.my-hr {
	height: 2px;
	color: #fff;
}
button {
	background-color: #fff;
}
#portfolio {
	background-image: url('../images/bg-portfolio.jpg') !important;
	background-size: cover;
	background-attachment: fixed;
}
form {
	border: 1px solid #ddd;
	border-radius: 25px;
	padding: 40px;
}
.hero {
	background-image: url('../images/hero.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: top center;
	height: 700px;
	text-align: center;
	padding-top: 90px;
}
.display-3 {
	margin-top: 280px;
}
.card1 {
	animation: slideInUp;
	animation-duration: 2s;
}
.card2 {
	animation: slideInUp;
	animation-duration: 6s;
}
.card3 {
	animation: slideInUp;
	animation-duration: 10s;
}
.map {
	animation: slideInLeft;
	animation-duration: 6s;
}
.form1 {
	animation: slideInRight;
	animation-duration: 6s;
}
.bg-blue {
	background-color: blue;
}
.navbar-light .navbar-nav .nav-link {
    color: #fbfbfb;
}
.c1 {
	border-radius: 20px;
	animation: slideInUp; /* referring directly to the animation's @keyframe declaration */
	animation-duration: 2s;
	border: 2px solid yellow;
}
.picard {
	border-radius: 250px;
	padding: 5px;
	height: 350px;
}
.card-title {
	background-color: #000;
	color: #fff;
	text-align: center;	
	font-size: 36px;
}
.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

  .affix + .container-fluid {
    padding-top: 70px;
  }
@media only screen and (max-width: 375px) {
  .hero {
  	height: 500px;
  	background-position: bottom;
  }
  .display-3 {
	margin-top: 191px;
	font-size: 35px;
}
}